In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
pathToData = "~/Dropbox/BIRD-SAT-shared/Lab experiments - Ido Arad/DP (20.12.21)/Table 1_20.12.xlsx"
pd.read_excel(pathToData)

,TOA5,CR,Unnamed: 2,Unnamed: 3,84397,CR1000.Std.31,CPU:arad.CR1,39849,Table1,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,TIMESTAMP,RECORD,NaN,NaN,orp_a,orp_b,orp_c,orp_d,pH_1,pH_2,...,Head,VWC_A,Temp_A,VWC_B,Temp_B,VWC_C,Temp_C,VWC_D,Temp_D,average ORP
1,TS,RN,NaN,NaN,mv,mv,mv,mv,mv,mv,...,cm,%,C,%,C,%,C,%,C,mv
2,NaN,NaN,time (min),time (hr.),Smp,Smp,Smp,Smp,Smp,Smp,...,Smp,Smp,Smp,Smp,Smp,Smp,Smp,Smp,Smp,NaN
3,2021-12-20 00:00:00,11:10:00,0,0,318.9,365.4,325.5,-107.4,-18.47,-8.32,...,0.178,6.9,19.1,7.2,19.1,7.8,19.1,23.1,19.1,225.6
4,2021-12-20 00:00:00,11:11:00,1,0.016667,318.8,365.4,325.6,-107.2,-18.76,-8.51,...,0.178,6.9,19.1,7.2,19.1,7.8,19.1,23.1,19.1,225.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4319,2021-12-23 00:00:00,11:06:00,4316,71.933333,-211.8,24.28,71.98,-358.4,-15.71,-11.57,...,20.75,30.5,19.3,29.3,19.3,30.8,19.3,23.6,19.3,-118.485
4320,2021-12-23 00:00:00,11:07:00,4317,71.95,-212.1,24.29,71.94,-358.6,-15.78,-11.54,...,20.64,30.5,19.3,29.2,19.3,30.8,19.3,23.6,19.3,-118.6175
4321,2021-12-23 00:00:00,11:08:00,4318,71.966667,-212.2,24.37,71.96,-358.6,-15.9,-11.49,...,20.64,30.5,19.3,29.3,19.3,30.7,19.3,23.6,19.3,-118.6175
4322,2021-12-23 00:00:00,11:09:00,4319,71.983333,-212.6,24.31,71.94,-358.6,-16.07,-11.63,...,20.64,30.4,19.3,29.3,19.3,30.8,19.3,23.6,19.3,-118.7375
4323,2021-12-23 00:00:00,11:10:00,4320,72,-212.9,24.28,71.91,-358.9,-16.01,-11.49,...,20.53,30.4,19.3,29.4,19.3,30.7,19.3,23.6,19.3,-118.9025